/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
.env
/public/uploads/truck_registration_certificate
/public/uploads/truck_insurance
/public/uploads/truck_tax
/public/uploads/truck_permit
/storage
/storage/app
/storage/framework
/storage/logs
